@use "../abstracts/vars/colors" as c;
@use "../abstracts/mixins/text" as *;
@use "../abstracts/mixins/info-link" as *;

.faqs{
  text-align: center;
  margin-top: 120px;
  padding: 1.5rem;
  max-width: 550px;
  @include text;

  &__container{
    margin-top: 45px;
    margin-bottom: 45px;
  }

  &,
  &__link{
    margin-left: auto;
    margin-right: auto;
  }

  &__link {
    @include info-link;
  }
}