@use "../vars/colors" as c;
@use "pseudoelement" as *;

@mixin box-ps($property-x ,$top, $left, $top-2, $left-2) {
  @include pseudo-element;
  top: $top;
  #{$property-x}: $left;
  min-width: 400px;
  width: 85%;
  height: 205px;
  border-radius: 200px;
  z-index: -10;
  background-color: c.$soft-blue;

  @media screen and (min-width: 500px) {
    top: $top-2;
  }

  @media screen and (min-width: 1024px) {
    #{$property-x}: $left-2;
    width: 1000px;
    height: 250px;
  }

  @media screen and (min-width: 1200px) {
    height: 350px;
  }
}